{% extends 'base/admin/base.html' %}

{% block container %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col d-flex flex-column flex-md-row justify-content-between">
                <a href="{{ backurl }}" class="btn btn-light" onclick="spinBack(this)"><span class="fa fa-chevron-left me-2"></span>{{ backname }}</a>
                <div class="gap-2">
                    <a href="{% url 'Course:create' %}?back={{ request.path }}&prg={{ programme.id }}" onclick="dynamicSpinner(this)" class="btn btn-secondary ">Add Course <span class="fa fa-plus-circle ms-2"></span></a>
                    <a href="{{ programme.get_absolute_update_url }}" onclick="dynamicSpinner(this)" class="btn btn-warning ">Edit <span class="fa fa-edit ms-2"></span></a>
                    <a href="{{ programme.get_absolute_delete_url }}" onclick="dynamicSpinner(this)" class="btn btn-danger ">Delete <span class="fa fa-trash ms-2"></span></a>
                </div>
            </div>
        </div>
        <div class="row my-3 bg-light p-4 shadow-sm">
            <div class="col-auto mx-auto text-center">
                <h1>{{ programme|upper }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col-md-10 col-lg-6 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Programme</td>
                                    <td>{{ programme.name }}</td>
                                </tr>
                                <tr>
                                    <td>Student</td>
                                    <td>----</td>
                                </tr>
                                <tr>
                                    <td>Courses</td>
                                    <td>----</td>
                                </tr>
                                <tr>
                                    <td>Department</td>
                                    <td><a class="btn btn-link" href="{{ programme.department.get_absolute_url }}" onclick="dynamicSpinner(this)">{{ programme.department }}</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         {% if programme_courses %}
             {% regroup programme_courses by level as r_programme_courses %}
             {% for course_group in r_programme_courses %}
                <div class="row shadow-sm p-2">
                    <div class="col-12">
                        <span>Course Level: <b>{{ course_group.grouper.name }}</b></span>
                        <hr>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Course Semester</th>
                                <th>Credit Hours</th>
                                <th>Action</th>
                            </tr>
                            {% for course in course_group.list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ course.name }}</td>
                                    <td>{{ course.code }}</td>
                                    <td>{{ course.semester }}</td>
                                    <td>{{ course.credit_hours }}</td>
                                    <td><a href="{{ course.get_absolute_url }}" class="btn btn-primary btn-sm">view</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
             {% endfor %}
         {% else %}
             <div class="row my-4">
                 <div class="col-auto mx-auto">
                     <div class="alert alert-info text-center shadow-sm">
                         <p><span class="fa fa-exclamation-circle fa-2x"></span></p>
                         <span>This programme has no courses yet.</span>
                         <span>Click on <span class="fa fa-plus-circle"></span> to add course to the programme</span>
                         <hr>
                         <a href="{% url 'Course:create' %}?back={{ request.path }}&prg={{ programme.id }}" onclick="dynamicSpinner(this)" class="btn alert-link"><span class="fa fa-plus-circle"></span> Add a course for the programme</a>
                     </div>
                 </div>
             </div>
         {% endif %}

        {% if students %}
        {% else %}
            <div class="row my-4">
                <div class="col">
                    <div class="alert alert-info text-center shadow-sm">
                        <p><span class="fa fa-exclamation-circle fa-2x"></span></p>
                        <h6>Student in this programme will show here.</h6>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}