{% extends 'student/self/accounts/template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <p class="lead text-center">System Usage Report</p>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>Last Login</td>
                    <td>{{ last_login }}</td>
                </tr>
                <tr>
                    <td>Computer Name</td>
                    <td>{{ computer_name }}</td>
                </tr>
                <tr>
                    <td>Computer username</td>
                    <td>{{ computer_username }}</td>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <td>{{ computer_os }}</td>
                </tr>
                <tr>
                    <td>HTTP SEC CH UA</td>
                    <td>{{ http_sec_ch_ua }}</td>
                </tr>
            </table>
            <ul>
                <li>Usage</li>
                <li>Last login</li>
                <li>Most used device or agent</li>
                <li>Password Changes History</li>
                <li>Failed logins</li>
            </ul>
        </div>
    </div>
    <h3 class="mt-4 text-center font-monospace"><u>Page Under construction</u></h3>
    <p class="text-center mb-4"><span class="fa fa-spinner fa-spin fa-3x"></span></p>

{% endblock %}