{% extends 'base/admin/base.html' %}

{% block container %}
    <div class="container">
        <div class="row my-3 my-xl-4">
            <div class="col-auto d-print-none">
                <a href="{{ back_url }}" class="btn btn-light" onclick="spinBack(this)"><span class="fa fa-chevron-left"></span>
                    {{ back_name }}</a>
            </div>
            <div class="col-auto mx-auto">
                <h4>{{ title|upper }}</h4>
            </div>
            <div class="col-auto d-print-none">
                <button type="button" class="btn btn-light" onclick="window.print()">Print <span class="fa fa-print"></span></button>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-auto mx-auto">
                <div class="card">
                    <div class="card-img-top">
                        <img style="width: 30em;" src="{{ studentforms.student.profile.picture.url }}" alt="profile picture" class="img-fluid">
                    </div>
                </div>
                <p class="text-center">{{ studentforms.student.profile }} picture</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 sticky-md-top bg-white50 transparent-bg rounded p-2">
                <h5>Profile</h5>
            </div>
            <div class="col-12">
                <hr>
                {% with profile=studentforms.student.profile %}
                    <div class="table-responsive">

                    <table class="table table-bordered">
                        <tr>
                            <th>First Name</th>
                            <td>{{ profile.first_name|upper }}</td>
                            <th>Last Name</th>
                            <td>{{ profile.last_name|upper }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>{{ profile.get_gender_display|upper }}</td>
                            <th>Date Of Birth</th>
                            <td>{{ profile.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ profile.phone_number }}</td>
                            <th>Email</th>
                            <td>{{ profile.email|upper }}</td>
                        </tr>

                    </table>
                    </div>
                {% endwith %}
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top bg-white50 transparent-bg rounded p-2">
                <h5>Address</h5>
            </div>
            <div class="col-12">
                <hr>
                <div class="table-responsive">
                <table class="table table-bordered">
                    {% with address=studentforms.student.profile.address %}
                        <tr>
                            <th>Country</th>
                            <td>{{ address.country.name|upper }}</td>
                            <th>Region</th>
                            <td>{{ address.region|upper }}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td>{{ address.district|upper }}</td>
                            <th>Home Town</th>
                            <td>{{ address.home_town|upper }}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>{{ address.current_region|upper }}</td>
                            <th>Latitude, Longitude</th>
                            <td title="open on map"><a href="#">{{ address.current_latitude|default_if_none:'---' }},
                            {{ address.current_longitude|default_if_none:'---' }}</a></td>
                        </tr>
                    {% endwith %}
                </table>
                </div>
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top  bg-white50 transparent-bg rounded p-2">
                <h5>Certificate</h5>
            </div>
            <div class="col-12">
                <hr>
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Index Number</th>
                        <th>Examination Year</th>
                        <th>School</th>
                        <th>Grade</th>
                        <th>Examination Type</th>
                    </tr>
                    {% for cert_record in cert_records %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ cert_record.subject|upper }}</td>
                            <td>{{ cert_record.index_number|upper }}</td>
                            <td>{{ cert_record.examination_year }}</td>
                            <td>{{ cert_record.school|upper }}</td>
                            <td>{{ cert_record.grade|upper }}</td>
                            <td>{{ cert_record.get_examination_type_display|upper }}</td>
                        </tr>
                    {% endfor %}

                </table>
                </div>
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top  bg-white50 transparent-bg rounded p-2">
                <h5>Employment History</h5>
            </div>
            <div class="col-12">
                <hr>
                <h6>Student Employment History: <span class="badge bg-primary"><span class="h5">{{ employment_history.has_history|yesno|title }}</span></span></h6>
                {% if not employment_history.has_history %}
                    <small>This student has no employment history</small>
                {% endif %}
                <div class="table-responsive">
                    <table class="table {% if not employment_history.has_history %} table-secondary {% endif %}">
                    <tr>
                        <th>Job</th>
                        <td>{{ employment_history.job_title|upper }}</td>
                        <th>Company Name</th>
                        <td>{{ employment_history.company_name|upper }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Specific Duty</th>
                        <td colspan="2">{{ employment_history.specific_duty|safe }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Address</th>
                        <td colspan="2">{{ employment_history.address|upper }}</td>
                    </tr>
                    <tr>
                        <th>State, City</th>
                        <td>{{ employment_history.state|upper }},
                        {{ employment_history.city|upper }}</td>
                        <th>Supervisor</th>
                        <td>{{ employment_history.supervisor|upper }}</td>
                    </tr>
                    <tr>
                        <th>Employed From</th>
                        <td>{{ employment_history.employed_from }}</td>
                        <th>Employed To</th>
                        <td>{{ employment_history.employed_to }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Why leave</th>
                        <td colspan="2">{{ employment_history.why_leave }}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top  bg-white50 transparent-bg rounded p-2">
                <h5>Sponsorship</h5>
            </div>
            <div class="col-12">
                <hr>
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>{{ sponsor.name|upper }}</td>
                        <th>Email</th>
                        <td>{{ sponsor.email|upper }}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{ sponsor.phone_number }}</td>
                        <th>City</th>
                        <td>{{ sponsor.city|upper }}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{ sponsor.state|upper }}</td>
                        <th>Address</th>
                        <td>{{ sponsor.address|upper }}</td>
                    </tr>
                    <tr>
                        <th>Relationship</th>
                        <td>{{ sponsor.relationship|upper }}</td>
                        <th>Scholarship</th>
                        <td>{{ sponsor.scholarship|upper }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Government Sponsorship</th>
                        <td colspan="2">{{ sponsor.on_government_support|yesno|upper }}</td>
                    </tr>

                </table>
                </div>
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top  bg-white50 transparent-bg rounded p-2">
                <h5>Programme Choices</h5>
            </div>
            <div class="col-12">
                <hr>
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="2">First Choice</th>
                        <td colspan="2">{{ programme_choices.first_choice }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Second Choice</th>
                        <td colspan="2">{{ programme_choices.second_choice }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Third Choice</th>
                        <td colspan="2">{{ programme_choices.third_choice }}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>

        <div class="row my-3 my-xl-4">
            <div class="col-12 sticky-md-top  bg-white50 transparent-bg rounded p-2">
                <h5>Previous Education</h5>
            </div>
            <div class="col-12">
                <hr>
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="2">School</th>
                        <td colspan="2">{{ previous_education.school|upper }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Region</th>
                        <td colspan="2">{{ previous_education.region|upper }}</td>
                    </tr>
                    <tr>
                        <th>From Year</th>
                        <td>{{ previous_education.from_year }}</td>
                        <th title="year completed">To Year</th>
                        <td>{{ previous_education.to_year }}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>

    <div class="row my-3 my-md-4">
        <div class="col-md-8 col-lg-auto mx-auto">
            <h4 class="text-center">Student Admission Form</h4>
            <div class="card">
                <div class="card-body shadow-sm">
                    <table class="table">
                        <tr>
                            <th>Serial Number</th>
                            <td>{{ studentforms.serial_number }}</td>
                            <th>Pin Code</th>
                            <td>{{ studentforms.pin_code }}</td>
                        </tr>
                        <tr>
                            <th>Sale Point</th>
                            <td>{{ studentforms.sales_point|default_if_none:'---' }}</td>
                            <th>Sales Agent</th>
                            <td>{{ studentforms.sales_agent|default_if_none:'---' }}</td>
                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td>{{ studentforms.cost|default_if_none:'---' }}</td>
                            <th>Form Type</th>
                            <td>{{ studentforms.form_type }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ studentforms.get_status_display }}</td>
                            <th>Academic Year</th>
                            <td>{{ studentforms.academic_year|default_if_none:'---' }}</td>
                        </tr>
                        <tr>
                            <th>Is Current</th>
                            <td>{{ studentforms.is_current|yesno|title }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Timestamp</th>
                            <td>{{ studentforms.timestamp }}</td>
                            <th>Last Modified</th>
                            <td>{{ studentforms.updated_at }}</td>
                        </tr>
                        </table>
                    {% if can_audit_form and not studentforms.is_locked %}
                        <div class="d-print-none">
                            <div class="d-flex flex-column flex-md-row justify-content-between gap-3 my-3">
                                <div class="flex-grow-1">
                                    <a href="#" class="btn btn-danger w-100" itemref=""><span class="fa fa-times me-2"></span>REJECT</a>
                                </div>
                                <div class=" flex-grow-1">
                                    <a href="{% url 'Admission:reject_form' serial_number=studentforms.serial_number id=studentforms.id %}?back={{ request.path }}" class="btn btn-success w-100" target="blank" rel="noopener noreferrer"><span class="fa fa-check me-2"></span>CONTINUE ADMISSION</a>
                                </div>
                            </div>
                        </div>
                    {% elif studentforms.is_locked %}
                        <div class="d-print-none d-flex justify-content-center" title="This form is locked for further modification, and editing">
                            <span class="fa fa-lock fa-3x text-warning"></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}