{% extends 'base/admin/base.html' %}

{% block header %}
    <style>
        body {
            background-image: url("{{ faculty.picture.url }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-auto mx-auto">
                <h4 class="text-center">{{ header }} Faculty</h4>
                <hr>
                <div class="card shadow transparent-bg" style="background-color: rgba(255,255,255,0.64)">
                    <div class="card-img-top text-center">
                        <img src="{{ faculty.icon.url }}" alt="" class="img-fluid">
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>{{ faculty.name }}</td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td class="overflow-wrap" style="overflow-wrap: anywhere;"><p>{{ faculty.note|safe }}</p></td>
                            </tr>
                            <tr>
                                <td>Date created</td>
                                <td>{{ faculty.timestamp }}</td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-warning width-fit-content" style="width: fit-content">
                            <p class="">
                                Deleting this faculty will affect all department and programmes under it.
                            </p>
                            {% if departments %}
                                <ol>
                                {% for department in departments %}
                                    <li>{{ department }} Department</li>
                                    {% if department.programmes %}
                                        <ol type="a">
                                            {% for programme in department.programmes %}
                                                <li>{{ programme }} Programme</li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                {% endfor %}
                                </ol>
{#                                TODO Link this to a more detail page #}
                                <p class="text-danger"><span class="fa fa-exclamation-triangle"></span> It is not safe to delete this faculty</p>
                            {% endif %}
                            <hr>
                            <span>
                                <span class="fa fa-exclamation-circle"></span> This operation is not reversible
                            </span>
                        </div>
                        </div>
                        <form method="post">
                            <div class="d-flex justify-content-end gap-3">
                                {% csrf_token %}
                                <a href="{{ faculty.get_absolute_url }}" class="btn btn-secondary" onclick="dynamicSpinner(this)">Cancel</a>
                                <button type="submit" class="btn btn-danger" onclick="dynamicSpinner(this)">Delete Faculty</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}