{% extends 'base/admin/base.html' %}

{% block header %}
    <style>
        .faculty_toBg {
            background-image: url("{{ faculty.picture.url|default:'' }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .min-height-40 {
            min-height: 50vh;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="container-fluid faculty_toBg  bg-light">
        <div class="row  d-flex justify-content-center flex-column">
            <div class="col-auto align-self-end p-2 gap-3">
                <a href="{{ faculty.get_absolute_change_url }}" class="btn transparent-bg shadow" onclick="dynamicSpinner(this)">Edit Faculty <span class="fa fa-edit ml-2"></span></a>
                <a href="{{ faculty.get_absolute_delete_url }}" class="btn transparent-bg shadow bg-light-red " onclick="dynamicSpinner(this)">Delete Faculty <span class="fa fa-trash ml-2"></span></a>
            </div>
            <div class="col-auto min-height-40 mx-auto align-self-center d-flex justify-content-center flex-column">
                <div class="p-1 rounded-pill transparent-bg shadow-sm">
                    <h1 class="text-black-50 text-center ">{{ faculty.name }} Faculty</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row my-3">
            {% if faculty.note %}
            <div class="col-md-6  mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body" title="notes">
                        <h5 class="text-center">
                            <img src="{{ faculty.icon.url|default:'' }}" alt="{{ faculty }}" class="img-fluid" height="60" width="80">
                        </h5>
                        <p>{{ faculty.note|safe }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-6  mb-4 mb-md-0 mx-auto">
                <div class="card h-100">
                    <div class="card-body text-center gap-3 ">
                        <span class="fa fa-building fa-4x"></span>
                        <h5>Faculty Departments</h5>
                        <h4>----</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center gap-3">
                        <span class="fa fa-user-tie fa-4x"></span>
                        <h5>Faculty Staffs</h5>
                        <h4>---</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center gap-3">
                        <span class="fa fa-user-tie fa-4x"></span>
                        <h5>Faculty Facilities</h5>
                        <h4>---</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}