{% extends 'base/admin/base.html' %}
{% load static %}
{% block container %}

    <div class="container">
        <div class="row my-4">
            {% if back_url %}
                {% include 'institution/utils/back_snippet.html' %}
            {% endif %}
            <div class="col-auto mx-auto text-center">
                <h4 class="display-6">{{ group }}</h4>
                <h5>Permission Group</h5>
            </div>
        </div>

    <div class="row mt-2 mb-4">
        <div class="col d-flex justify-content-end gap-3 bg-light-gold border rounded p-2">
            <a href="{% url 'System:add_permission2group' group_name=group.name group_pk=group.pk %}?back={{ request.path }}" class="alert-link" onclick="dynamicSpinner(this)"><span class="fa fa-plus-circle"></span> Add Permission</a>|
            <a href="{% url 'System:add_member2group' group_name=group.name group_pk=group.pk %}?back={{ request.path }}" class="alert-link" onclick="dynamicSpinner(this)"><span class="fa fa-plus-circle"></span> Add Members</a>
        </div>
    </div>

    {% if permission_list %}
        <div class="row my-4">
            <div class="col">
                <div class="table-responsive">
                    <p>Members in this group have the follow permissions</p>
                    <table class="table border">
                        <tr class="table-warning">
                            <th>#</th>
                            <th>Permission Code Name</th>
                            <th>Permission Name</th>
                            <th>Permission Content Type</th>
                            <th>Action</th>
                        </tr>
                        {% for permission in permission_list %}
                            <tr class="hover_shadow">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ permission.codename }}</td>
                                <td>{{ permission.name }}</td>
                                <td>{{ permission.content_type }}</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a href="{% url 'System:permission_detail' permission_pk=permission.pk %}?back={{ request.path }}" class="btn btn-outline-secondary" onclick="dynamicSpinner(this)">View</a>
                                        <a class="btn btn-outline-danger" onclick="rmPerm('{% url 'System:get_permission_ajax' permission_pk=permission.pk %}')">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row my-4">
            <div class="col">
                <div class="alert alert-warning text-center">
                    <h5>This group has no permission</h5>
                    <a href="{% url 'System:add_permission2group' group_name=group.name group_pk=group.pk %}" class="alert-link stretched-link" onclick="dynamicSpinner(this)"><span class="fa fa-plus-circle"></span> Add Permission</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if member_count %}
        <div class="row my-4">
            <div class="col" id="groupMembers">
                <button onclick="getGroupMembers()" id="loadMembers" class="btn btn-primary w-100 shadow-sm">View All Members ({{ member_count }})</button>
            </div>
        </div>
    {% else %}
        <div class="row my-4">
            <div class="col">
                <div class="alert alert-warning text-center">
                    <h5>There is no members in this group</h5>
                    <a href="" class="alert-link stretched-link" onclick="dynamicSpinner(this)"><span class="fa fa-plus-circle"></span> Add Members</a>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    <section>
        {% include 'base/modelFooterless.html' with modal_title='Remove Permission' %}
    </section>
{% endblock %}

{% block scripts %}
    <script >
        let mbody = document.getElementById('m_body');
        mbody.innerHTML = `<div class="text-center h-100"><span class="spinner-border"></span><br><span>loading permission</span></div>`
        function rmPerm(ulrlnk){
            toggleModal();
            $.ajax({
                method:'get',
                url:ulrlnk,
                success:function (response) {
                    document.getElementById('modalTitle').innerHTML = `<h5> Permission: <span class="text-primary">"${response.p_name}"</span></h5>`
                    mbody.innerHTML=`Permission Details:<div class="card"><div class="card-body"><table class="table">
<tr>
    <td>Name</td>
    <td>${response.p_name}</td>
</tr>
<tr>
    <td>Code Name</td>
    <td>${response.p_cd}</td>
</tr>
<tr>
    <td>Content Type</td>
    <td>${response.p_ctt}</td>
</tr>

</table></div>
</div>
<form action="" method="post" novalidate class="my-3">
{% csrf_token %}
<input type="hidden" name="p_pk" value="${response.p_pk}">
<input type="hidden" name="p_name" value="${response.p_name}">
<button onclick="dynamicSpinner(this)" type="submit" class="btn btn-primary w-100">Remove from this Permission Group</button>
</form>
`;
                },
                error:function (response) {
                    console.warn(response);
                    mbody.innerHTML = `<div class="alert alert-danger">Sorry, we can not fetch the information this time <br>Please try again!</div>`;
                }
            })
        }

        function getGroupMembers() {
            const loader = 'View All Members ({{ member_count }})';
            const loading = 'Loading all members ({{ member_count }}) ...';
            const loaderBtn = document.getElementById('loadMembers');
            const container = document.getElementById('groupMembers');
            if (loaderBtn){
                loaderBtn.innerText = loading;
            }
            else{
                container.innerHTML = `<div class="alert alert-info text-center">Reloading members please wait...</div>`
            }
            const url = '{% url "System:get_group_members_ajax" group_name=group.name %}'
            const success = response => {
              container.innerHTML = `<div class="table-responsive">
                    <p>Members in this group have the follow permissions</p>
                    <button class="btn btn-light shadow-sm" onclick="getGroupMembers()">Reload</button>
                    <table class="table border">
                        <tr>
                            <th>Member Name</th>
                            <th>Member Identity</th>
                            <th>Member Type</th>
                            <th></th>
                        </tr>

                                ${response.data.map(
                                    member =>
                                        '<tr class="hover_shadow" id="row'+ member.identity +'">' +
                                        '<td>' + member.name + '</td>' +
                                        '<td> ' + member.identity +'</td>' +
                                        '<td> ' + member.type +'</td>' +
                                        '<td><div class="d-flex gap-2"><a href="" class="btn btn-outline-secondary" onclick="dynamicSpinner(this)">View</a><a class="btn btn-outline-danger" onclick="removeGroupMemberDialog(\'' + member.url + '\')">Remove</a> </div></td>'+
                                        '</tr>'
                                )}
                        </table>
                    </div>`;
              if (loaderBtn ){
                  loaderBtn.innerText = loader;
              }
                }
            $.ajax({
                data: null,
                method: 'get',
                url:url,
                success:response=>success(response),
                errors:(response)=>{
                    console.log(response);
                    container.innerHTML = `<div class="alert alert-danger">Sorry, we can not fetch the information this time <br>Please try again!</div>`;
                }
            })
        }

        function removeGroupMemberDialog(memberInfoUrl) {
            modalTitle.innerText = 'Remove Group Member '
            toggleModal();
            mbody.innerHTML = `<div class="text-center h-100"><span class="spinner-border"></span><br><span>loading member information</span></div>`
            $.ajax({
                url:memberInfoUrl,
                success: response => {
                    const {identity, name, department, email, shortName, removeMemberUrl} = response;
                    modalTitle.innerHTML = '<span>Remove <b>' + shortName +'</b> From {{ group.name }} Group</span>'
                    mbody.innerHTML = `<table class="table">
                        <tr><td>Full Name</td> <td>${name}</td> </tr>
                        <tr><td>Department</td> <td>${department !== null ? department : 'N\\A'}</td> </tr>
                        <tr><td>Email</td> <td>${email}</td> </tr>
                    </table>
                           <button class='btn btn-warning w-100' onclick="removeMember( '${removeMemberUrl}', '${identity}', this)">Remove Member</button>`
                },
                error: response => {alert('Please try again!')},
            })
        }
        function removeMember(url, memberIdentity, theTag) {
            dynamicSpinner(theTag);
            $.ajax({
                url:url,
                success:response => {
                    closeModal()
                    const elem = document.getElementById('row'+memberIdentity);
                    elem.innerHTML = '<td colspan="5" class="text-center">' + response.description + '</td>'
                    elem.classList.add('table-danger');
                    setTimeout(()=>{elem.remove()}, 1000);
                },
                errors:response => {alert(response.description)},
            })
        }

    </script>

{% endblock %}
