{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome5.1/css/all.min.css' %}">
    <style>
        .height-100 {
           min-height: 80vh;
        }
        .img-height {
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class=" height-100 row d-flex justify-content-center align-items-center">
            <div class="col-md-6 mx-auto my-3">
                <div class="text-center py-3">
                    <a href="{% url 'Home:landing_page' %}" class="btn">
                        <img src="{% static 'favicon.png' %}" alt="" class="img-fluid img-height">
                        <h4 class="text-success">{{ header|upper }}</h4>
                    </a>
                </div>
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% crispy form  form_helper %}
                        {% csrf_token %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'Home:landing_page' %}" onclick="spinBack(this)"  class="align-self-start btn"><span class="fa fa-chevron-left"></span> {{ institution_short }}</a>
                        <a href="" class="align-self-start btn btn-link" onclick="dynamicSpinner(this)">Forgotten your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'javaScripts/btn/loading.js' %}"></script>
</body>
</html>