{% load institution_extra %}
{% load static %}
{% url 'Home:landing_page' as school_home %}
{% url 'Student:home' as student_home %}


<nav class="navbar navbar-expand-lg sticky-lg-top navbar-light bg-white50 transparent-bg" aria-label="Navigation bar">
    <div class="container justify-content-between justify-content-md-center">
        <a class="navbar-brand {% if request.path == home %} active {% endif %}" href="{{ home }}">{% institutionFullName %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 mx-auto justify-content-center align-items-start align-items-md-center ">
                <li class="nav-item bord-width-nav">
                    <a class="nav-link text-nowrap {% if request.path == school_home %} active-primary {% endif %}" aria-current="page" href="{{ school_home }}">Your University</a>
                </li>

                <li class="nav-item bord-width-nav">
                    <a class="nav-link {% if request.path == student_home %} active-primary {% endif %}" href="{{ student_home }}" >Dashboard</a>
                </li>
                <li class="nav-item bord-width-nav">
                    <a class="nav-link " href="#">Department</a>
                </li>
                <li class="nav-item bord-width-nav">
                    <a class="nav-link " href="#">{{ request.user.student.programme }}</a>
                </li>
            </ul>

            {% include 'base/userMiniMenu.html' %}

        </div>
    </div>
</nav>
