{% load crispy_forms_tags %}
{% load static %}

<div id="systemmodal" class="modal fade" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"  role="dialog" aria-labelledby="systemmodal" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">{{ modal_title }}</h5>
        <button onclick="closeModal()" type="button" class="btn btn-danger rounded-pill" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
      </div>
      <div class="modal-body" id="m_body">
          {% if m_form %}
              {% crispy m_form %}
          {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'Jquery/jquery-3.4.1.min.js' %}"></script>

<script>
    const systemModel = $('#systemmodal');
    function closeModal() {
        systemModel.modal('hide');
    }
    function toggleModal() {
        systemModel.modal('toggle');
    }

</script>