{% extends 'base/admission/admission_base.html' %}
{% load static %}


{% block container %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-8 col-lg-6 mx-auto">
               {% if admissionF_status != form_status.ACCEPTED %}
                <div class="text-center">
                    <img src="{% static 'icons/not_applicable.svg' %}" alt="NA" class="img-fluid" style="height: 5em">
                </div>
                {% endif %}
                {% if admissionF_status == form_status.ACCEPTED %}
                    <div class="alert d-flex flex-column align-items-center gap-3 alert-success">
                    <span class="fa fa-check-circle fa-2x"></span>
                {% elif admissionF_status == form_status.EXPIRED %}
                    <div class="alert d-flex flex-column align-items-center gap-3 alert-danger">
                    <span class="fa fa-clock fa-2x fa-spin"></span>
                {% elif admissionF_status == form_status.REJECTED %}
                    <div class="alert d-flex flex-column align-items-center gap-3 alert-danger">
                    <span class="fa fa-times-circle fa-2x fa-spin"></span>
                {% else %}
                    <div class="alert d-flex flex-column align-items-center gap-3 alert-danger">
                    <span class="fa fa-exclamation-circle fa-2x"></span>
                {% endif %}
                    <h4 class="text-center">{{ subtitle }}</h4>
                    <h5 class="text-center">{{ errPassage }}</h5>
                </div>
                 {% if admissionF_status != form_status.ACCEPTED %}
                <div class="text-center">
                    <a href="{% url 'Admission:main_template_page' %}" class="btn btn-link">Re Apply for admission</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock container %}
    