{% extends 'base/admin/create.html' %}
{% load static %}

{% block header %}
    <style>
        body{
            background-image: url("{% static 'images/admission.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
{% endblock %}

{% block col %}
    col-md-8 col-lg-6
{% endblock %}

{% block info %}
    <div class="row my-3">
        <div class="col-md-8 col-lg-6 mx-auto text-center">
            <p class="display-6 text-primary">{{ title|upper }}</p>
            <div class="transparent-bg p-2 rounded hover_shadow bg-white50">
                <img src="{{ user.picture.url }}" alt="{{ user.get_short_name }} picture" class="img-fluid rounded-pill" style="height: 15em;">
                <p>{{ user }}</p>
                <em><span>Identity:</span> <b>{{ user.identity }}</b></em>
            </div>
        </div>
    </div>
{% endblock %}
