{% extends 'base/base.html' %}
{% load static %}
{% block container %}
    <div class="container">

        <div class="row mt-3">
            <div class="col-md-6 mx-auto text-center">
                <h5>{% filter title %}You not Allowed to perform this task{% endfilter %}</h5>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6 mx-auto">
                <div class="card shadow">

                    <div class="card-img-top text-center p-2 no-pointer">
                        <img src="{% static 'icons/customs_Officer.svg' %}" class="img-fluid" alt="{{ reason|truncatewords:4 }}" style="max-height: 305px">
                    </div>
                    <div class="card-body">
                        <p class="card-text alert alert-primary">
                            {{ reason|safe }}
                        </p>
                        {% if tip %}
                            <p class="alert alert-info small"><i class="fa fa-info-circle mr-2"></i>{{ tip }}</p>
                        {% endif %}
                        {% if more %}
                            <p class="alert alert-info my-1"><i class="fa fa-info-circle mr-2"></i>{{ more }}</p>
                        {% endif %}
                    </div>
                    {% if back_url %}
                        <div class="card-footer">
                            <a href="{{ back_url }}" class="btn btn-link"><span class="fa fa-chevron-left"></span> back</a>
                        </div>
                    {% endif %}
                </div>
                <p class="text-center">
                    <small>Please try again later</small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}