{% load static %}
{% static 'favicon.png' as default_img %}
{% with user=request.user  %}
  <div class="d-flex flex-column align-items-center">
      <div class="dropdown">
          <button class="dropdown-toggle btn p-0 m-0 dropdown-menu-start" id="dropdownStudent" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.picture.url|default:default_img }}" alt="" srcset="" height="40" width="40" class="img-fluid rounded"> {{ user.get_short_name|title }}</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownStudent">
              <li><a class="dropdown-item" href="#">Dean of Students</a></li>
              <li><a class="dropdown-item" href="#">Your university</a></li>
              <li class="dropdown-divider"></li>
              {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'Student:admission-redirect' serial_number=user.identity %}">Admission Form</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="#">Check Admission Status</a></li>
              <li><a class="dropdown-item" href="#">2021 / 2022 Admission Requirement</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fees & Financial Aid</a></li>
              <li><a class="dropdown-item" href="#">How to apply</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'Home:logout' %}">Logout</a></li>
          </ul>
      </div>
  </div>
{% endwith %}