.transparent-bg {
    backdrop-filter: blur(10px) saturate(2.2);
}
.bg-white50 {
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-success50 {
    background-color: rgba(15, 81, 50, 0.5);
}

.card_rounded {
    border-radius: 25px;
}

.hover_shadow:hover {
    box-shadow: 0 0 6px 1px #e8e8e8;
}
.hover_shadow-long:hover {
   box-shadow:#cccccc 9px 7px 9px 2px;
}

.overflow-wrap {
    overflow-wrap: anywhere;
    /*overflow-wrap: break-word;*/
}

.hover-inset {
    box-shadow: inset #CCCCCC 0 0 4px;
}

.width-fit-content {
    width: fit-content !important
}