<div class="card hover_shadow w-100 h-100" title="{{ disable_why|default:'' }}">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
        {% if show_check %}
            <span class="fa fa-check-circle text-success fa-2x align-self-end"></span>
        {% endif %}
        <div class="text-center">
            {% if fa_icon %}
                <span class="fa {{ fa_icon }} fa-2x"></span>
            {% else %}
                <img src="{{ img_src }}" alt="" style="height: 5em">
            {% endif %}
            {% if disable_why %}
                <h5 title="{{ disable_why }}">{{ label }}</h5>
            {% else %}
                <h5 class="{{ klas }}">{% if link %}<a href="{{ link }}?back={{ request.path }}{% if link_para_n and link_para_v %}&{{ link_para_n }}={{ link_para_v }}{% endif %}" class="card-link stretched-link {% if show_check %} link-success {{ klas }} {% endif %}">{{ label }}</a>{% else %}{{ label }}{% endif %}</h5>
            {% endif %}
        </div>
    </div>
    {% if footertext %}
        <div class="card-footer">
            <span class="card-text">{{ footertext }}</span>
        </div>
    {% endif %}
</div>