{% extends 'base/base.html' %}
{% block container %}
    <div class="container">
    <div class="row">
        <div class="col-auto">
            <a href="{{ back_url }}" class="btn btn-light shadow-sm" onclick="spinBack(this)"><span class="fa fa-chevron-left"></span> back</a>
        </div>
    </div>
        <div class="row my-4">
            <div class="col-auto mx-auto">
                <h4>Accept Student Admission Form</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}