{% extends 'base/admin/base.html' %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
        {% if object and object.get_absolute_url or back_url %}
        <div class="row my-3 ">
            <div class="col-auto">
                <a href="{{ object.get_absolute_url|default:back_url }}" onclick="spinBack(this)" class="btn btn-light shadow-sm"><span class="fa fa-chevron-left me-2"></span> back</a>
            </div>
            {% if topheader %}
            <div class="col-auto mx-auto">
                <h4>{{ topheader }}</h4>
            </div>
            {% endif %}
        </div>
         {% endif %}
    {% block info %}{% endblock %}
        <div class="row my-3">
            <div class="{% block col %} col-md-auto {% endblock col %} mx-auto my-3 shadow-sm rounded p-2 bg-white50 transparent-bg">
                <h5>{{ header }}</h5>
                {% block form_render %}
                    {% crispy form %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}