{% extends 'base/admission/student_admission_form.html' %}
{% load crispy_forms_tags %}

{% block container_css_class %}
    {{ container_css_class|default:'container-fluid' }}
{% endblock %}

{% block col_css_class %}
    {{ col_css_class }}
{% endblock %}

{% block form_render %}
    {% if has_errors %}
        <div class="alert alert-warning">
            <span>{{ err_msg|safe }}</span>
        </div>
    {% endif %}
    {% if integrityError %}
        <div class="alert alert-danger">
            {{ integrityError|safe }}
        </div>
    {% endif %}
    {% if formset.non_form_errors %}
        {% for non_field_error in formset.non_form_errors %}
            <p class="alert alert-danger">
                {{ non_field_error }}
            </p>
        {% endfor %}

    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <ul  id="form_content">
            {% for form in formset %}
                <li class=""><span>{{ legend }} {% if show_counter %}{{ forloop.counter }}{% endif %}</span> <br>
                    <div class="d-flex table-responsive justify-content-center align-items-baseline gap-3 shadow-sm p-2 my-4">
                        {{ form|crispy }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% if integrityError %}
        <div class="alert alert-danger">
            {{ integrityError|safe }}
        </div>
    {% endif %}
        <hr>
        <div class="d-flex justify-content-evenly">
            <button type="button" class="btn btn-info btn-lg" onclick="appendSubjectForm(this)"><span class="fa fa-plus me-2"></span> ADD ANOTHER SUBJECT</button>
        </div>
        <hr>
        <div class="d-flex justify-content-end gap-3 my-4">
            <button type="reset" class="btn btn-light">Reset</button>
            <button type="submit" class="btn btn-primary" onclick="dynamicSpinner(this)">Save</button>
        </div>
    </form>

    <div class="d-flex justify-content-evenly">
        <div class="alert alert-info my-3">
            <span>To remove a {{ legend|lower }}, click on delete or tick/check the delete label.</span><br>
            <span>The system will auto delete {{ legend|lower }} with the <b><input type="checkbox" disabled> Delete</b> checked.</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let frmContentElm = document.getElementById('form_content');
        let frmCounter = document.getElementById('id_form-TOTAL_FORMS');
        function appendSubjectForm(htmlElement) {
            if (frmContentElm.childElementCount < 15){
                let emptyForm = `
                                    <li><span> {{ legend }} ${frmContentElm.childElementCount +1 }</span>
                                        <div class="d-flex table-responsive justify-content-center align-items-baseline gap-3 shadow-sm p-2 my-4">
                                            {{ formset.empty_form|crispy }}
                                        </div>
                                    </li>
                                `;
                let counterValue = frmCounter.value;
                counterValue = parseInt(counterValue) +1 ;
                frmContentElm.insertAdjacentHTML('beforeend', emptyForm);
                frmCounter.value = `${counterValue}`;
            }
            if (frmContentElm.childElementCount >= 15){
                htmlElement.setAttribute('disabled', true);
            }
        }
    </script>
{% endblock %}